name: Java Backend Deploy

on:
  push:
    branches: [ "main" ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build with Maven
      run: mvn -B clean package -DskipTests --file pom.xml

    - name: Deploy to EC2
      run: |

        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/key.pem
        chmod 600 ~/.ssh/key.pem
        

        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

        scp -i ~/.ssh/key.pem target/*.jar ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }}:/home/${{ secrets.EC2_USERNAME }}/app.jar

        ssh -i ~/.ssh/key.pem ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} << 'EOF'

          set +e
          

          pkill -f 'java -jar' || true
          


          export GEMINI_API_KEY='${{ secrets.GEMINI_API_KEY }}'

          nohup java -jar /home/${{ secrets.EC2_USERNAME }}/app.jar > app.log 2>&1 &
        EOF
